theme = "GruvboxDark"

font-size = 20
font-family = "Berkeley Mono"
font-feature = "-calt"
font-feature = "-liga"
font-feature = "-dlig"

quick-terminal-screen = mouse
quick-terminal-animation-duration = 0
quick-terminal-autohide = false
quick-terminal-position = bottom

background-opacity = 0.9

keybind = global:cmd+grave_accent=toggle_quick_terminal
