font-size = 16
font-family = "TX-02"
font-feature = "-calt"
font-feature = "-liga"
font-feature = "-dlig"

quick-terminal-screen = mouse
quick-terminal-animation-duration = 0.1
quick-terminal-autohide = false
quick-terminal-position = bottom
background-opacity = 0.75
keybind = global:cmd+grave_accent=toggle_quick_terminal
